.main-banner-home {
  background-image: url("/main-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  height: screen;
  position: relative;
  top: -80px;
} 
  .button {
    margin-top: 27px;
  }
  h2.h1 {    
    color: var(--primary);
    letter-spacing: 0;
    font-size: 3.2rem;
    line-height: 4.2rem;
    @media screen and (min-width: 768px) {
      font-size: 5.5rem;
      line-height: 6.5rem;
    }
  }

#app {
  .header {
    height: 80px;
    margin-bottom: 0;
    z-index: 20;
  }
  .button {

    font-size: 1.2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase; 
    font-style: bold;
  }
}
